.wrapper {
	background: url(../images/cat.jpg);
  /*background-size: 100% 100%;*/
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  font-size: 50px;
  font-family: Arial;
}

.box{
  background: rgba(0,0,0,0.3);
  width: 600px;
  height: 600px;
  border-radius: 10px;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

.box h1{
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

h1{
  text-align: center;
}

.box2{
  text-align: center;
}

p{
  font-family: Arial;
  font-size: 20px;
  color: white;
}

li{
font-family: Arial;
  font-size: 20px;
  color: white;
}

a{
  font-size: 30px;
}
#mylist {
position: relative;
height: 16px;
margin: 20;
margin-left: 19px;
}

#facebook {
  left:0px;
  width:16px;
  background: url(../images/fb.png)-16px 0;
}

.center
/*do kształtów*/
{
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: rgba(225,225,210,0.5);
  float: left;
}

.button
{

}
